/* body,
html {
	max-height: 100%;
	margin: 0;
}

homeImg {
	width: 600;
	height: auto;
	border: 2px solid black;
	margin-top: 0;
} */
divText {
	/* width: 100;
	height: 60; */
	text-align: center;
	border: solid green 1px;
}
divText::after {
	content: 'Click Me!';
	display: block;
	border: red green 1px;
	width: 200px;
	height: 60px;
	color: black;
	opacity: 0.9;
	top: 300;
	bottom: 200;
	margin-left: 590px;
	position: absolute;
	background-color: transparent;
}
